body {
  font-family: "open sans", sans-serif;
  background: #eee;
}
.main-ui-view {
  width: 95%;
  margin: 0 auto;
}
md-content {
  background: #eee;
}
.pageBtn {
  position: absolute;
  top: -5px;
  right: 2%;
}
.pageBtn .fa {
  margin-right: 5px;
}
*:focus {
  outline: 0;
}
h1.page-title {
  font-size: 30px;
  color: #000;
  font-weight: 200;
}
.hidden {
  display: none !important;
}
.dialogCard {
  padding-left: 13px;
}
.cancel {
  color: #F96302;
}
.errorMessage {
  color: #EE2327;
}
/*Default Button*/
.md-button,
md-button,
.md-button:visited {
  display: inline-block;
  min-width: 152px;
  font-size: 18px;
  color: #F96302;
  background-color: #FBFBFB;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
  line-height: 46px;
  min-height: 46px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  text-align: center;
  padding: 0px 20px;
  outline: none;
  margin: 0px 15px;
  letter-spacing: 0px;
  text-transform: capitalize;
}
.md-button:hover,
.md-button:focus {
  background-color: #FFFFFF;
  color: #F96302;
}
.md-button:disabled,
.md-button.disabled {
  color: #999999;
  background-color: #FBFBFB;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
  cursor: not-allowed;
}
.md-button:active {
  background-color: #f5f5f5;
  border: 0px solid #FFFFFF;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
}
/*Primary Button*/
.md-button.primary,
.md-button.primary:visited {
  background-color: #F96302;
  color: #FFFFFF;
}
.md-button.primary:hover,
.md-button.primary:focus {
  background-color: #F97A27;
  color: #FFFFFF;
}
.md-button.primary:active {
  background: #D35401;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.md-button.primary:disabled,
.md-button.primary.disabled {
  color: #DDDDDD;
  background: #999999;
  cursor: not-allowed;
}
.md-button.primary.md,
.md-button.primary.sm {
  font-size: 18px;
  line-height: 46px;
  min-height: 46px;
}
/*Tertiary Button*/
.md-button.tertiary,
.md-button.tertiary:visited {
  background-color: transparent;
  color: #F96302;
  box-shadow: none;
}
.md-button.tertiary:hover,
.md-button.tertiary:focus {
  background-color: #F5F5F5;
  color: #F96302;
}
.md-button.tertiary:active {
  background-color: #f5f5f5;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
}
.md-button.tertiary:disabled,
.md-button.tertiary.disabled {
  color: #999999;
  background: #F5F5F5;
  cursor: not-allowed;
}
/*Error Button*/
.md-button.error,
.md-button.error:visited {
  color: #EE2327;
  border: 1px solid #EE2327;
  background-color: #FBFBFB;
}
.md-button.error:hover,
.md-button.error:focus {
  background-color: #FFFFFF;
  color: #EE2327;
}
.md-button.error:active {
  background-color: #f5f5f5;
  color: #EE2327;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
}
/*Confirmation Button*/
.md-button.success,
.md-button.success:visited {
  color: #00AE4D;
  border: 1px solid #00AE4D;
  background-color: #FBFBFB;
}
.md-button.success:hover,
.md-button.success:focus {
  background-color: #FFFFFF;
  color: #00AE4D;
}
.md-button.success:active {
  background-color: #f5f5f5;
  color: #00AE4D;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
}
/*Button Sizes*/
.md-button.md {
  font-size: 16px;
  line-height: 38px;
  min-height: 38px;
  padding: 0 18px;
}
.md-button.sm {
  font-size: 14px;
  line-height: 30px;
  min-height: 30px;
  padding: 0 10px;
}
form {
  padding: 8px;
  width: 318px;
  margin: 0 auto;
}
form .md-input {
  height: 44px;
}
form button#signIn {
  margin-left: 0;
  text-transform: capitalize;
}
form md-input-container:not(md-input-invalid).md-input-focused label {
  color: #00AE4D;
}
.md-text-field {
  box-sizing: border-box;
  position: relative;
  margin: 15px 0;
}
.md-text-field:first-of-type {
  margin-top: 25px;
}
.md-text-field:last-of-type {
  margin-bottom: 0;
}
.md-text-field input[type=text],
.md-text-field input[type=password],
.md-text-field input[type=tel] {
  outline: none;
  position: relative;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  border-radius: 2px;
  padding: 10px;
  font-size: 18px;
  color: #222222;
  min-width: 300px;
}
.md-text-field input[type=text] + label,
.md-text-field input[type=password] + label,
.md-text-field input[type=tel] + label {
  display: block;
  position: absolute;
  font-size: 16px;
  color: #555555;
  top: -25;
}
.md-text-field.missed input[type=text]:focus,
.md-text-field input[type=text]:focus,
.md-text-field input[type=password]:focus,
.md-text-field input[type=tel]:focus {
  border: 1px solid #00AF4D;
  background-color: #FFFFFF;
}
.md-text-field input[type=text]:focus + label,
.md-text-field.missed input[type=text]:focus + label,
.md-text-field.missed input[type=password]:focus + label,
.md-text-field input[type=tel]:focus + label {
  color: #00AF4D;
  position: absolute;
  top: 0;
}
.md-text-field.missed input[type=text],
.md-text-field.missed input[type=password],
.md-text-field.missed input[type=tel] {
  border: 1px solid #ED1C24;
  background-color: #FEF4F4;
}
.md-text-field.missed input[type=text] + label,
.md-text-field.missed input[type=password] + label,
.md-text-field.missed input[type=tel] + label {
  color: #ED1C24;
}
.md-text-field input[type=text]:disabled,
.md-text-field input[type=password]:disabled,
.md-text-field input[type=tel]:disabled {
  background-color: #F5F5F5;
  color: #999999;
  border: none;
  cursor: not-allowed;
}
.md-text-field input[type=text]:disabled + label,
.md-text-field input[type=password]:disabled,
.md-text-field input[type=tel]:disabled + label {
  color: #999999;
  cursor: not-allowed;
}
md-input-container label:not(.md-container-ignore) {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: auto;
  top: -50px;
}
md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-placeholder label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float) {
  transform: translate3d(0, 28px, 0) scale(1);
}
md-input-container label:not(.md-no-float):not(.md-container-ignore),
md-input-container .md-placeholder {
  transition: none;
  transform-origin: 0;
}
md-radio-group.md-default-theme .md-checked .md-ink-ripple,
md-radio-group .md-checked .md-ink-ripple {
  color: #00B054;
}
md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
  border-color: #00B054;
}
md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
  background-color: #00B054;
}
.md-step.md-active md-step-label-wrapper::before,
.md-step.md-success md-step-label-wrapper::before {
  background: #00B054;
}
md-radio-group.md-default-theme:not([disabled]) .md-primary .md-on,
md-radio-group:not([disabled]) .md-primary .md-on,
md-radio-group.md-default-theme:not([disabled]).md-primary .md-on,
md-radio-group:not([disabled]).md-primary .md-on,
md-radio-button.md-default-theme:not([disabled]) .md-primary .md-on,
md-radio-button:not([disabled]) .md-primary .md-on,
md-radio-button.md-default-theme:not([disabled]).md-primary .md-on,
md-radio-button:not([disabled]).md-primary .md-on {
  border-color: #00B054;
}
md-radio-group.md-default-theme:not([disabled]) .md-primary .md-checked .md-off,
md-radio-group:not([disabled]) .md-primary .md-checked .md-off,
md-radio-group.md-default-theme:not([disabled]) .md-primary.md-checked .md-off,
md-radio-group:not([disabled]) .md-primary.md-checked .md-off,
md-radio-group.md-default-theme:not([disabled]).md-primary .md-checked .md-off,
md-radio-group:not([disabled]).md-primary .md-checked .md-off,
md-radio-group.md-default-theme:not([disabled]).md-primary.md-checked .md-off,
md-radio-group:not([disabled]).md-primary.md-checked .md-off,
md-radio-button.md-default-theme:not([disabled]) .md-primary .md-checked .md-off,
md-radio-button:not([disabled]) .md-primary .md-checked .md-off,
md-radio-button.md-default-theme:not([disabled]) .md-primary.md-checked .md-off,
md-radio-button:not([disabled]) .md-primary.md-checked .md-off,
md-radio-button.md-default-theme:not([disabled]).md-primary .md-checked .md-off,
md-radio-button:not([disabled]).md-primary .md-checked .md-off,
md-radio-button.md-default-theme:not([disabled]).md-primary.md-checked .md-off,
md-radio-button:not([disabled]).md-primary.md-checked .md-off {
  border-color: #00B054;
}
md-radio-group.md-default-theme:not([disabled]) .md-primary .md-on,
md-radio-group:not([disabled]) .md-primary .md-on,
md-radio-group.md-default-theme:not([disabled]).md-primary .md-on,
md-radio-group:not([disabled]).md-primary .md-on,
md-radio-button.md-default-theme:not([disabled]) .md-primary .md-on,
md-radio-button:not([disabled]) .md-primary .md-on,
md-radio-button.md-default-theme:not([disabled]).md-primary .md-on,
md-radio-button:not([disabled]).md-primary .md-on {
  background-color: #00B054;
}
.scheduler-modal {
  width: 90%;
  max-width: 780px;
}
.scheduler-modal md-toolbar.md-default-theme:not(.md-menu-toolbar),
.scheduler-modal md-toolbar:not(.md-menu-toolbar) {
  background-color: transparent;
  color: #555555;
}
.scheduler-modal md-toolbar.md-default-theme:not(.md-menu-toolbar) .schedTitle,
.scheduler-modal md-toolbar:not(.md-menu-toolbar) .schedTitle {
  font-size: 24px;
}
.scheduler-modal md-toolbar.md-default-theme:not(.md-menu-toolbar) .schedTitle span.schedSubTitle,
.scheduler-modal md-toolbar:not(.md-menu-toolbar) .schedTitle span.schedSubTitle {
  font-size: 16px;
  line-height: 24px;
}
.scheduler-modal md-steppers-wrapper {
  border-bottom: 1px solid #bbb;
}
.scheduler-modal md-steppers-canvas {
  width: 95%;
  margin: 0 auto;
}
.scheduler-modal md-steppers-canvas md-pagination-wrapper {
  width: 95% !important;
}
.scheduler-modal md-content {
  background: transparent;
}
.scheduler-modal md-content form {
  width: 90%;
  margin: 0 auto;
}
.scheduler-modal md-radio-group {
  width: 90%;
}
.scheduler-modal md-radio-button {
  display: inline-block;
  margin-right: 90px;
}
.scheduler-modal .treeview-container {
  max-height: 350px;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 10px;
}
.scheduler-modal .treeview-container ul {
  list-style-type: none;
}
.scheduler-modal .treeview-container ul li {
  line-height: 25px;
}
.scheduler-modal .treeview-container div[data-tree-model] li .collapsed {
  padding: 1px 10px;
  background-image: none;
  background-repeat: no-repeat;
}
.scheduler-modal .treeview-container div[data-tree-model] li .collapsed {
  padding-left: 32px;
  position: relative;
}
.scheduler-modal .treeview-container div[data-tree-model] li .collapsed:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  left: 10px;
  content: "\f07b";
  font-style: normal;
}
.scheduler-modal .treeview-container div[data-tree-model] li .expanded {
  padding: 1px 10px;
  background-image: none;
  background-repeat: no-repeat;
}
.scheduler-modal .treeview-container div[data-tree-model] li .expanded {
  padding-left: 32px;
  position: relative;
}
.scheduler-modal .treeview-container div[data-tree-model] li .expanded:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  left: 10px;
  content: "\f07c";
  font-style: normal;
}
.scheduler-modal .treeview-container div[data-tree-model] li .normal {
  padding: 1px 10px;
  background-image: none;
  background-repeat: no-repeat;
}
.scheduler-modal .treeview-container div[data-tree-model] li .normal {
  padding-left: 32px;
  position: relative;
}
.scheduler-modal .treeview-container div[data-tree-model] li .normal:before {
  position: absolute;
  font-family: 'FontAwesome';
  color: grey;
  top: 0;
  left: 10px;
  content: "\f15b";
  font-style: normal;
}
.scheduler-modal md-button {
  box-shadow: none;
}
.scheduler-modal .finalStepBtns {
  margin: 30px 0 0 0;
  padding-right: 0;
  width: 100%;
}
.scheduler-modal md-datepicker button.md-datepicker-button {
  display: none;
}
.scheduler-modal label.datepickerLabel {
  font-size: 14px;
  color: #999999;
}
.scheduler-modal .md-datepicker-input,
.scheduler-modal .timePicker {
  font-size: 18px;
  width: 190px;
  height: 50px;
  padding-left: 10px;
  color: #9f9999;
}
.scheduler-modal .md-datepicker-input label,
.scheduler-modal .timePicker label {
  font-size: 14px;
  margin-top: 0px;
  color: #999999;
}
.scheduler-modal .md-datepicker-input .timePickerInput,
.scheduler-modal .timePicker .timePickerInput {
  border: none;
  height: 50px;
  color: #9f9999;
}
.scheduler-modal .md-datepicker-input-container.md-datepicker-invalid {
  border-bottom-color: #f44336;
}
.scheduler-modal .md-datepicker-invalid {
  border-bottom-color: #f44336;
}
.scheduler-modal md-input-container.timePicker.timePickerInvalid {
  border-bottom-color: #f44336;
}
.scheduler-modal .md-datepicker-input-container,
.scheduler-modal .timePicker {
  padding-bottom: 0;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  margin-left: 0;
}
.scheduler-modal .md-datepicker-input-container .md-button {
  font-size: 20px;
  color: #D8D8D8;
  margin: 0;
  padding: 0;
}
.scheduler-modal .md-datepicker-input-container .md-datepicker-triangle-button.md-button.md-icon-button {
  margin: 12px 12px 0 0;
  line-height: 50px;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}
.scheduler-modal md-input-container label:not(.md-container-ignore) {
  position: absolute;
  bottom: 100%;
  left: -2px;
  right: auto;
  top: -48px;
  font-size: 14px;
  color: #999;
}
.scheduler-modal md-input-container {
  margin-bottom: 0;
}
.scheduler-modal .timePicker {
  padding-top: 0;
  margin-left: 13px;
}
.scheduler-modal md-input-container.md-input-invalid.md-input-focused label {
  color: #999999;
}
.scheduler-modal md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #999999;
}
.scheduler-modal .timeZone {
  color: #999;
  margin: 0 0 6px 14px;
  font-size: 18px;
}
